.ull{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end ;
    flex-direction:row;
    margin-right: 110px;
    
    }
.ull li {
    font-size: 30px;
    list-style: none;
    flex-direction:row;
    margin-right: 60px;
    text-decoration: none;
}
.header1{
    background-color: #c7d6f3;
    min-height: 20vh;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    font-size: 10px ;
    color: rgb(253, 122, 247);
}
.logo{
    height: 40%;
    width:  40%;
}
.lista a {
    text-decoration: none;
    color: rgb(253, 122, 247);
}