
.contadorB {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contadorB button {
    width: 25px;
    background-color:  rgb(238, 238, 170);
    margin: 10px;
    border-color: rgb(233, 233, 233);
}

.stocki{
    font-size: 20px;
    color:  rgb(250, 164, 164);
}
