
.contadorB {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;    
}
.contadorB button {
    width: 40px;
    background-color: rgb(190, 163, 216);
    margin: 10px;
}
.aac {
    background-color: rgb(190, 163, 216);
    margin: 10px;
    font-size: 20px;
}
.stocki{
    font-size: 15px;
    color: rgb(178, 142, 212);
}
.seVe{
    display: none;
}