
.cardi2{
    border-style: dashed;
    border-color: rgb(231, 243, 161);
    background-color: rgb(215, 225, 236);
    margin:70px 150px 20px 150px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardi1 {
    display: grid;
    grid-template-areas: "titulo titulo"
    "imagen detalle"
    "imagen precio";
    
}
.imagen{
    grid-area: imagen;
    
}
.titulo{
    grid-area: titulo;
    color: rgb(125, 89, 160);
    font-size: 40px;
}
.detalle{
    grid-area:detalle;
    padding: 1%;
    color: rgb(125, 89, 160);
}
.precio{
    grid-area:precio;
    color: rgb(125, 89, 160);
    font-size: 30px;
}
.links{
    text-decoration: none;
    display: inline;
    font-size: 30px;
    
    color: rgb(176, 101, 252);
    background-color: rgb(198, 232, 255);
    margin-left: 50px;
}